@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');/*Importar el tipo de tipografia que se va a utilizar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'open sans';
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .container {
    width: 90%;
    max-width: 1000px ;
    margin: auto;
    overflow: hidden;
  }
  .titulo{
    color: #332a64;
    font-size: 30px;
    text-align: center;
    margin: 70px;
}
/*header*/
header {
    background: #00f260;; 
    background: -webkit-linear-gradient(to right,hsla(229, 96%, 46%, 0.437), hsla(98, 100%, 47%, 0.371)), url(imagenespng/fondo1.jpg); 
    background: linear-gradient(to right, hsla(229, 96%, 46%, 0.437), hsla(98, 100%, 47%, 0.371)), url(imagenespng/fondo1.jpg); 
    width: 100%;
    height: 310px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
  header .text-logo{
    position: absolute;
    margin: 35px 300px;
}
header .textos-header{
    margin: 35px 0px;
    display: flex;
    height: 110px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 75px;
    color: #fff;
}
.textos-header h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
header nav ul li {
    display: inline;
    margin-right: 20px;
}
  
header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}
/*acerca*/
.contenedor-quienes-somos{
    padding: 0 0 30px 0;
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us{
    width: 25%;
}
.quienes-somos .conten-tex{
    width: 40%;
}
.conten-tex h3{
    margin-bottom: 20px;
}
.conten-tex h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 3px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    margin-right: 5px;
}
.conten-tex p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: center;
}

/*SERVICIOS*/
.about-servicios{
    padding: 0px 20px 15px 0;
}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 35%;
    padding: 0 22px;
    text-align: center;
}
.servicio-ind img{
    width: 30%;
}
.servicio-ind h3{
    margin: 10px 0 ;
}
.servicio-ind p{
    font-weight: 300;
    text-align: center;
}

/*footer*/

footer{
    background-color: #414141;
    padding: 20px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #00f260;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
}
.content-foo a{
    color: #ccc;
}
.Titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}