@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');/*Importar el tipo de tipografia que se va a utilizar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'open sans';
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .container {
    width: 90%;
    max-width: 1000px ;
    margin: auto;
    overflow: hidden;
  }
  .titulo{
    color: #332a64;
    font-size: 30px;
    text-align: center;
    margin: 40px;
}
/*header*/
  header {
    background: #00f260;; 
    background: -webkit-linear-gradient(to right,hsla(229, 96%, 46%, 0.437), hsla(98, 100%, 47%, 0.371)), url(imagenespng/fondo1.jpg); 
    background: linear-gradient(to right, hsla(229, 96%, 46%, 0.437), hsla(98, 100%, 47%, 0.371)), url(imagenespng/fondo1.jpg); 
    width: 100%;
    height: 310px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
  header .text-logo{
    position: absolute;
    margin: 35px 300px;
}
header .textos-header{
    margin: 35px 0px;
    display: flex;
    height: 110px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 75px;
    color: #fff;
}
.textos-header h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
header nav ul li {
    display: inline;
    margin-right: 20px;
}
  
header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}
  
.search-bar {
    margin-top: 20px;
    font-size: 16px;
}
#search {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Bordes redondeados */
    margin-right: 10px;
  }
  
  #search:focus {
    outline: none;
    border-color: #007bff;
  }
  
  #search::placeholder {
    color: #aaa;
  }
  
  #search, button {
    vertical-align: middle;
    height: 36px; /* Misma altura para el campo y el botón */
  }

  .cart-container {
    text-align: left;

  }
  
  button {
    padding: 0 16px; /* Espacio interior del botón */
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px; /* Bordes redondeados */
  }
  
  button:hover {
    background-color: #0056b3;
  }

/*Productos*/
#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /*distribuir en tres columnas*/

  }
  .producto img {
    width: 100%; /* Para que las imágenes ocupen todo el ancho del contenedor */
    max-height: 300px; /* Altura máxima de las imágenes */
    object-fit: cover; /* Para ajustar el tamaño sin deformar la imagen */
  }
  .producto h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .producto p {
    font-size: 1em;
    color: #777;
    margin-bottom: 15px;
  }
  .producto {
    width: 30%; /* Ancho de cada producto para que haya tres en una fila */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .producto {
      width: 100%; /* En dispositivos móviles, ocuparán el ancho completo */
    }
  }

 /*SERVICIOS*/
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 28%;
    text-align: center;
}
.servicio-ind img{
    width: 30%;
}
.servicio-ind h3{
    margin: 10px 0 ;
}
.servicio-ind p{
    font-weight: 300;
    text-align: justify;
} 
/*footer*/

footer{
    background-color: #414141;
    padding: 20px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #00f260;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
}
.content-foo a{
    color: #ccc;
}
.Titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}